#startQuiz {
    display: flex;
    align-items: center;
    background-color: green;
}
#main-header {
    color:green;
    background-color: whitesmoke;
    border: solid;
}
#a1 {
    background-color: cornflowerblue;
}
#b2 {
    background-color: cornflowerblue;
}
#c3 {
    background-color: cornflowerblue;
}
#d4 {
    background-color: cornflowerblue;
}

#question {
    background-color: green;
    text-decoration: whitesmoke;
}